.close-btn {
  font-size: 20px;
}
.create-channel-form {
  &__group {
    margin-bottom: 2rem;
  }

  &__input {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: block;
    border: 1px solid gainsboro;;

    &:focus {
      outline: none;
    }
  }
}

.create-channel-btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;

  &__btn {
    width: 40px;
    height: 30px;
    &:focus{ box-shadow: none;}
  }

}
