.all-mentions-messages-container {
  height: 100%;
  padding-top: 15px;
}
.team-name {
  //font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 28px;
  color: #051EC4;
  font-weight: 700;
}

.navigation-section {
  border-bottom: 1px solid #E9E9E9;
}
.navigation {
  font-size: 16px;
  cursor: pointer;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  /* identical to box height */
  color: #191726;
  width: 86px;
  height: 24px;

  p {
    margin: 0;
  }
}
.navigation  {
  margin: 0;
}

.nav-link {
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  color: #191726;
}

.active {
  color: #051EC4;
  border-bottom: 3px solid #051EC4;
}

.overflow-chat {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 85px);
  padding-top: 15px;
  scrollbar-width: thin;
  mix-blend-mode: normal;
  scrollbar-color: #37314B transparent;
}

.active {
  color: #051EC4 !important;
  background-color: #f8f8fb !important;
}
.get-more-messages-btn {
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  background: #051EC4;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  color: #fff;
}

.text-editor {
  width: 50vw !important;
}
