<div class="create-dialog">
  <div class="d-flex justify-content-end mb-2" >
    <i style="cursor: pointer" mat-dialog-close (click)="closeTeamSettings()" class="bi bi-x fa-2x close-btn"></i>
  </div>
  <h4 class="mt-n4 p-1 d-flex justify-content-center">Team Settings</h4>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-primary btn-sm shadow-none p-2 me-2" (click)="getSubStreams()">Subscribed</button>
          <button type="button" class="btn btn-primary btn-sm shadow-none p-2" (click)="showAllAvailableTeams()">All streams</button>
        </div>
        <div class="d-flex justify-content-between">
          <input type="text" (keyup)="searchTeam($event)" class="form-control shadow-none team-search p-2" placeholder="Filter team" aria-label="team name" aria-describedby="basic-addon1">
          <i class="bi bi-plus-circle add-team p-2" title="Add a team" (click)="createTeam()"></i>
        </div>
      </div>
      <div class="team-names mt-3">
        <ul class="list-group">
          <li *ngFor="let team of filteredTeams" class="specific-team list-group-item list-group-item-action" (click)="selectTeam(team)">
            <p class="">{{team.name}}</p>
            <small class="fst-italic mt-0 pt-0">{{ team.description }}</small>
          </li>
        </ul>

      </div>
    </div>
    <div class="col create-stream">
      <div *ngIf="teamOfChoice">
        <div>
          <div class="d-flex justify-content-between">
            <h5>{{teamOfChoice.name}}</h5>
            <button type="button" class="btn btn-primary p-2 btn-sm shadow-none" (click)="unsubscribeFromTeam()">Unsubscribe</button>
          </div>
          <p *ngIf="teamOfChoice.description">{{teamOfChoice.description}}</p>
          <p *ngIf="teamOfChoice.description == ''">No description for this team yet</p>
        </div>
        <div class="d-flex justify-content-end">
          <ul class="searchable-users list-group">
            <li *ngFor="let show of searchResult" class="list-group-item filtered-user" (click)="addMemberToTeam(show)">
              {{ show.full_name }}
            </li>
          </ul>
        </div>
        <div class="d-flex justify-content-around">
          <input type="text" class="form-control shadow-none team-search p-2" placeholder="Search subscribers" aria-label="search" aria-describedby="basic-addon1" (keyup)="searchSubscriber($event)" >
          <input type="text" class="form-control shadow-none team-search p-2" placeholder="Name or email" aria-label="Name" aria-describedby="basic-addon1" [(ngModel)]="selectedUser.full_name" (keyup)="searchUser($event)">
          <button type="button" class="btn btn-primary p-2 btn-sm shadow-none" (click)="subscribeNewMember()" [disabled]="this.selectedUser.full_name == '' ">Add</button>
        </div>

        <div class="">
          <div class="user-names mt-4">
            <ul class="list-group">
              <li *ngFor="let user of filteredGroupMembers" class="list-group-item d-flex justify-content-between team-member">
                <span class="member-detail">{{user.full_name}}</span>
                <span class="member-detail">{{user.email}}</span>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div *ngIf="!teamOfChoice" >
       <app-new-team [userId$]="currentUserId$"></app-new-team>
      </div>
    </div>
  </div>

</div>
