<div class="group-pm-users">
<!--  <span style="font-weight: bolder" class="mr-2">To : {{ receiverInfo ? receiverInfo.subject: '' }}</span>-->
  <div style="font-weight: bolder" class="d-flex recipient-user mr-2">
    To :

      <span>Stream name</span>
      <span >
      <span style="font-weight: bolder" class="mx-2"> ></span>
      <span>
        <input
          type="text"
          class="border-0 shadow-none"
          placeholder="Stream topic"
          (keyup)="onKey($event)"
          name="first"
      /></span>
    </span>
  </div>


</div>


<div class="parent">

<div class="parent">


  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="text-editor-container">
    <div class="form-group ">
      <ejs-richtexteditor
        #fromRTE
        [(value)]="editorData"
        [toolbarSettings]='tools'
        required
        name="name"
        [(ngModel)]="editorData"
        (keydown.enter)="onSubmit(form)"
        class="overflow-chat"
      ></ejs-richtexteditor>

      <div class="submit-pm-btn d-flex justify-content-end">
        <button type="submit" class="border-0 submit-btn btn btn-dark shadow-none" ejs-button>
          Send
        </button>
      </div>

    </div>
  </form>

  <span class="d-flex justify-content-end child" title="React"
        (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
        (emojiPickerSelect)="handleSelection($event)"
  >😄</span>
</div>
