<div class="h-100">
  <p class="team-name">All private messages</p>
  <nav>
    <div
      class="nav nav-tabs w-100 d-flex justify-content-start border-bottom-5"
      id="nav-tab"
      role="tablist"
    >
      <div
        class="nav-link active border-end-0 border-start-0 border-top-0 mb-0"
        id="nav-home-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
      >
        Chat
      </div>
    </div>
  </nav>

  <div class="tab-content custom-tab" id="nav-tabContent">
    <div
      class="tab-pane fade show active border-bottom-0"
      style="height: 100%"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="overflow-chat">
        <!--        <div *ngIf="(messages$ | async) as messages" id="box">-->
        <!--          <app-individual-chat-card *ngFor="let chat of messages" [messageDetail]="chat"></app-individual-chat-card>-->
        <!--        </div>-->

        <div *ngIf="(messages$ | async).length" id="box">
          <!--          <div class="d-flex justify-content-center">-->
          <!--            <button class="btn btn-primary shadow-none" *ngIf="messageExist" (click)="getMorePrivateMessages()">Get more</button>-->
          <!--          </div>-->
          <app-all-private-messages-card
            (click)="replyMessage(chat)"
            class="mt-4"
            *ngFor="let chat of (messages$ | async)"
            [messageDetail]="chat"
            [userId$]="currentUserId$"
          ></app-all-private-messages-card>
        </div>
        <div #endChat></div>

        <div *ngIf="loading" class="d-flex justify-content-center">
          <div>
            <app-loading-animation></app-loading-animation>
            <p class="teams-belonging me-5">Fetching messages</p>
          </div>
        </div>

        <div
          class="py-4"
          *ngIf="!(messages$ | async)?.length"
        >
          <p>No Messages</p>
        </div>
      </div>
      <app-private-msg-text-editor
        [chat]="activeMessage"
        class="add-editor"
      ></app-private-msg-text-editor>
    </div>
  </div>
</div>
