<!-- <div class="main-individual-messaging-container h-100">
    <div class="left-messages-panel">
      <app-team-messaging-left-panel></app-team-messaging-left-panel>
    </div>
    <div class="message-board">
      <app-individual-messaging-board ></app-individual-messaging-board>
    </div>
    <div class="right-users-panel full-width h-100">
      <app-individual-messaging-right-panel ></app-individual-messaging-right-panel>
    </div>
</div> -->

<div class="message-wrap h-100">
  <div class="message-board">
    <app-individual-messaging-board></app-individual-messaging-board>
  </div>
  <div class="right-all-users-panel full-width h-100">
    <app-landing-messaging-right-panel></app-landing-messaging-right-panel>
  </div>
</div>
