<div class="home-content-section">
  <app-navbar [parentTitle]="title"></app-navbar>
  <div class="main-start-page-container h-100">
    <div class="left-panel">
      <app-team-messaging-left-panel (rightPanelEvent)="rightPanelTypeListener($event)"></app-team-messaging-left-panel>
    </div>

    <div class="message-board">
      <router-outlet></router-outlet>
    </div>

    <div class="right-all-users-panel h-100">
      <app-right-panel (rightPanelEvent)="rightPanelTypeListener($event)" [allUsers$]="users$" [userContent]="rightPanelUsers"></app-right-panel>
    </div>
  </div>
</div>
