<!--<div class="main-home-section">-->
<!--  <app-navbar [parentTitle]="title"></app-navbar>-->

<!--  <div class="home-content-section">-->
<!--    <div class="main-start-page-container h-100">-->
<!--      <div class="left-panel">-->
<!--        <app-team-messaging-left-panel></app-team-messaging-left-panel>-->
<!--      </div>-->

<!--      <div class="message-board">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->

<!--      <div class="right-all-users-panel h-100">-->
<!--        <app-landing-messaging-right-panel></app-landing-messaging-right-panel>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
  <div class="main-start-page-container h-100">
    <div class="left-panel">
      <app-team-messaging-left-panel (rightPanelEvent)="rightPanelTypeListener($event)"></app-team-messaging-left-panel>
    </div>

    <div style="border: 1px solid red" class="message-board">
      <router-outlet></router-outlet>
    </div>

    <div class="right-all-users-panel h-100">
<!--      <app-landing-messaging-right-panel></app-landing-messaging-right-panel>-->
      <app-right-panel [allUsers$]="users$" [userContent]="rightPanelUsers"></app-right-panel>
    </div>
  </div>
