<div class="all-mentions-messages-container">
  <p class="team-name">All mentions</p>
  <div class="d-flex navigation-section mt-3">
    <div class="navigation active">
      <p>Stream</p>
    </div>
  </div>

  <div class="overflow-chat">
    <div *ngIf="!(loading$ | async ) && !(streams$ | async)" class="py-4">
      <p>No Messages</p>
    </div>

    <div *ngIf="( loading$ | async )" class="d-flex justify-content-center mb-5">
      <div>
        <app-loading-animation></app-loading-animation>
        <p class="teams-belonging">Fetching messages</p>
      </div>
    </div>
    <div  id="box">
<!--      <div class="d-flex justify-content-center">-->
<!--        <button-->
<!--          class="get-more-messages-btn btn"-->
<!--        >-->
<!--          Get more-->
<!--        </button>-->
<!--      </div>-->
      <app-individual-chat-card
        *ngFor="let chat of (streams$ | async)"
        [messageDetail]="chat"
        (click)="handleReply(chat)"
      ></app-individual-chat-card>
    </div>

  </div>
<!--  <app-editor class="add-editor active" ></app-editor>-->
  <app-streams-text-editor class="add-editor active"></app-streams-text-editor>
</div>
