.message-comment-wrap {
  border-radius: 10px 10px 10px 0px;
  position: relative;
  margin-top: 25px;
  margin-left: 7%;
  width: 50%;

  &::after {
    position: absolute;
    content: '';
    top: -25px;
    left: 16px;
    width: 2px;
    height: 20px;
    background: rgba(166, 172, 190, 1);
  }

  .message-comment-card {
    display: flex;
    min-width: 80%;
    max-width: 100%;
    z-index: 3;

    .message-sender-img {
      margin-right: 10px;

      img {
        height: 35px;
        width: 35px;
      }
    }

    .message-comment-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #FFFFFF;
      padding: 8px 20px;
      border-radius: 10px;


      .message-card-title {
        display: flex;
        padding: 0;
        justify-content: space-between;
        width: 100%;

        .name {
          font-size: 13px;
          font-weight: bold;
          color: #323037;
          padding: 0;
        }

        .chat-time {
          font-size: 12px;
          color: #8A8D92;
          padding: 0;
        }
      }

      .message-card-content {

        p {
          font-size: 13px;
          color: #323037;
          padding: 0;
        }
      }

      .message-card-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 13px;
        gap: 30px;
        opacity: 0.6;
      }
    }
  }
}
