<div class="team-users-container">
  <div class="group-members">
    <div class="all-users-title">
      <div class="all-users-wrap">
        <p>Group Members</p>
        <div class="search-people">
          <img src="/assets/img/icons/search.svg" alt="" />
        </div>
      </div>
      <div *ngIf="!true" class="search-user-form">
        <input
          type="text"
          placeholder="Search people..."
        />
      </div>
    </div>
    <div *ngFor="let member of groupMembers" class="team-members">
      <div class="m-2">
        <div class="member" (click)="rightPanelTypeListener($event)">
          <div class="member-info" >
            <div class="member-content">
              <img
                src="/assets/img/user/avatarHolder.png"
                height="32px"
                width="32px"
                class="rounded-circle me-2"
                alt="..."
              />
              <div class="member-name">
                <span>{{ member.full_name }}</span>
                <span *ngIf="unreadMessagesId.includes(member.user_id)" class="new-message">New message</span>
              </div>
<!--              <span class="member-role role-team-leader">-->
<!--              Team leader-->
<!--            </span>-->
            </div>
            <div class="member-option" >
              <img src="/assets/img/icons/dots.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="staff-members">
    <div class="all-users-title">
      <div class="all-users-wrap" (click)="handleShowSearchUser()">
        <p>Other staff</p>
        <div class="search-people">
          <img src="/assets/img/icons/search.svg" alt="" />
        </div>
      </div>
      <div *ngIf="showSearchUser" class="search-user-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          placeholder="Search people..."
        />
      </div>
    </div>
    <div class="team-members" *ngFor="let member of (users$ | async) | userFilter: searchText">
      <div class="m-2">
        <div (click)="rightPanelTypeListener(member)" class="member">
          <div class="member-info" >
            <div class="member-content">
              <img
                src="/assets/img/user/avatarHolder.png"
                height="32px"
                width="32px"
                class="rounded-circle me-2"
                alt="..."
              />
              <div class="member-name">
                <span>{{ member.full_name }}</span>
                <span *ngIf="unreadMessagesId.includes(member.user_id)" class="new-message">New message</span>
              </div>
            </div>
            <div class="member-option" >
              <img src="/assets/img/icons/dots.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
