<div class="group-pm-users">
  <span style="font-weight: bolder" class="mr-2">To :</span>
  <div class="search-pm-users-container" >
    <div class="list-pm-members">
     <div class="pm-member" *ngFor="let person of chatGroup" (click)="removeFromGroup(person)">
        <p>{{person.full_name}}</p>
       <i class="bi bi-x"></i>
      </div>
    </div>

    <div class="add-attendees-section dropdown">
      <input type="text" (keyup)="searchUser($event)" class="search-meeting-attendees" placeholder="Search User" id="dropdownMenuButton1" data-bs-toggle="dropdown"
         aria-expanded="false">
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" #selectList >
        <li *ngFor="let user of filteredUsers" (click)="addSelectedUser(user)" class="py-2">
          {{user.full_name}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="parent">


<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="text-editor-container">
  <div class="form-group ">
    <ejs-richtexteditor
      #fromRTE
      [(value)]="editorData"
      [toolbarSettings]='tools'
      required
      name="name"
      [(ngModel)]="editorData"
      (keydown.enter)="onSubmit(form)"
      class="overflow-chat"
    ></ejs-richtexteditor>

    <div class="submit-pm-btn d-flex justify-content-end">
      <button type="submit" class="border-0 submit-btn btn btn-dark shadow-none" ejs-button>
        Send
      </button>
    </div>

  </div>
</form>

  <span class="d-flex justify-content-end child" title="React"
        (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
        (emojiPickerSelect)="handleSelection($event)"
  >😄</span>
</div>
