<form class="create-stream-wrap" [formGroup]="streamForm">

  <div class="create-stream-content">
    <div class="stream-naming">
      <div class="form-group stream-name">
        <label>Stream name</label>
        <input (keyup)="checkStreamName($event)" formControlName="teamName" type="text" class="form-control" placeholder="Stream name">
        <div class="stream-name-alert">
          <span *ngIf="(streamExistObservable | async)" class="stream-name-alert-message">A stream with this name already exists</span>
        </div>
      </div>
      <div class="form-group pt-2">
        <label>Stream description</label>
        <input formControlName="teamDescription" type="text" class="form-control" placeholder="Stream description">
      </div>
    </div>

    <div class="stream-privacy">
      <h6 class="modal-meeting-names mb-2">Who can access the stream? </h6>
      <div class="modal-meeting-names mb-2">

        <div class="form-check ">
          <input formControlName="public" (ngModelChange)="handlePrivacyType('public')" value="true" class="form-check-input" type="radio" name="public" id="public"  >
          <label class="form-check-label" for="public">
            <b>Public</b>: Organization members can join (guests must be invited by a subscriber); organization members can view complete message history without joining
          </label>
        </div>

        <div class="form-check">
          <input formControlName="public" (ngModelChange)="handlePrivacyType('privateTeamInviteShare')" [(ngModel)]="privateTeamInviteShare" value="trues" class="form-check-input" type="radio" name="public" id="teamHistory">
          <label class="form-check-label" for="public">
            <b>Private, shared history</b>: Must be invited by a subscriber; new subscribers can view complete message history; hidden from non-administrator users
          </label>
        </div>

        <div class="form-check">
          <input formControlName="public" (ngModelChange)="handlePrivacyType('privateTeamInviteNo')"  [(ngModel)]="privateTeamInviteNo" value="truess" class="form-check-input"  type="radio" name="public" id="teamInvite" >
          <label class="form-check-label" for="public">
            <b>Private, protected history</b>: Must be invited by a subscriber; new subscribers can only see messages sent after they join; hidden from non-administrator users
          </label>
        </div>

      </div>

      <div class="form-check pt-2 pb-2">
        <input *ngIf="privacyType === 'public'" formControlName="announce" type="checkbox" class="form-check-input" id="announce">
        <input *ngIf="privacyType !== 'public'" disabled type="checkbox" class="form-check-input">
        <label class="form-check-label text-muted" for="announce">Announce stream</label>
      </div>

      <div class="stream-select-sender">
        <label>Who can post to the stream?</label>
        <select formControlName="stream_post_policy" #postAuthor (change)="onChangeWhoCanPost(postAuthor.value)" class="form-select" aria-label="Who can post to the stream?">
          <option selected value="1">Everyone</option>
          <option value="2">Admins only</option>
          <option value="3">Admins, moderators and full members</option>
          <option value="4">Admins and moderators</option>
        </select>
      </div>
    </div>

    <div class="stream-users py-2">

      <div>
        <div class="form-group stream-filter-users">
          <label>Choose subscribers</label>

          <div *ngIf="filterWord">
            <div *ngFor="let member of (users$ | async) | userFilter: filterWord" class="stream-filter-users-list list-group">
              <button class="list-group-item list-group-item-action" (click)="addSingleUser(member)">
                <b>{{ member.full_name }}</b> <span>{{ member.email }}</span>
              </button>
            </div>
          </div>
          <div class="list-pm-members pb-2">
            <div class="pm-member" *ngFor="let member of oneByOneUser" (click)="removeFromOneByOneUser(member)">
              <p>{{member.full_name}}</p>
              <i class="bi bi-x"></i>
            </div>
          </div>
          <div class="d-flex">
            <input
              [(ngModel)]="filterWord"
              [ngModelOptions]="{standalone: true}"
              type="text"
              class="form-control"
              placeholder="Add subscribers. Use usergroup or #streamname to bulk add subscribers">
            <button (click)="addToSelected()" class="btn btn-sm btn-outline-dark ms-2">Add</button>
          </div>
        </div>
        <div class="stream-add-all d-flex justify-content-start py-3">
          <span>Do you want to add everyone?</span>
          <button type="button" (click)="addAllUsers()" class="btn btn-sm btn-outline-dark ms-3">Add all users</button>
        </div>
      </div>

      <div class="stream-subscribers">
        <div class="stream-subscribers-top py-2 d-flex justify-content-between">
          <h5>Subscribers</h5>
          <div class="form-group">
            <input [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Filter subscribers">
          </div>
        </div>

        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">User ID</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody *ngFor="let member of selectedSubscribers | userFilter: searchText">
          <tr>
            <td *ngIf="member.user_id === (userId$ | async)" scope="row"><b>{{ member.full_name}} </b><span class="text-muted">(you)</span></td>
            <td *ngIf="member.user_id !== (userId$ | async)"  scope="row"><b>{{ member.full_name}}</b></td>
            <td>{{ member.email}}</td>
            <td>{{ member.user_id }}</td>
            <td>
              <button *ngIf="member.user_id === (userId$ | async)" disabled class="btn btn-sm btn-outline-danger">Remove</button>
              <button *ngIf="member.user_id !== (userId$ | async)" (click)="removeUser(member.user_id)" class="btn btn-sm btn-outline-danger">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="stream-buttons d-flex justify-content-end">
    <button class="btn btn-default mx-2 btn-sm">Cancel</button>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary mx-2 btn-sm">Create</button>
  </div>

</form>
