<div class="individual-messaging-container my-message">
  <div class="messaging-member-title">
    <img src="assets/img/user/avatarHolder.png" alt="...">
    <app-idle-tag class="ms-n5 circle" *ngIf="(currentUser$ | async)?.presence?.aggregated?.status === 'idle'"></app-idle-tag>
    <app-active-tag class="ms-n5 circle" *ngIf="(currentUser$ | async)?.presence?.aggregated?.status === 'active'"></app-active-tag>
    <app-inactive-tag class="ms-n5 circle" *ngIf="(currentUser$ | async)?.presence?.aggregated?.status === 'offline'"></app-inactive-tag>
    <p class="member-name p-2">{{ (currentUser$ | async)?.full_name }}</p>
  </div>

  <nav>
    <div class="nav nav-tabs w-100 d-flex justify-content-start border-bottom-5" id="nav-tab" role="tablist">
      <div
        class="nav-link active border-end-0 border-start-0 border-top-0 mb-0"
        id="nav-home-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-home"
        type="button"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true">Chats</div>
    </div>
  </nav>

  <div class="tab-content custom-tab pt-3" id="nav-tabContent">
    <div class="tab-pane fade show active border-bottom-0" style="height: 100%" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="overflow-chat">
        <div *ngIf="(loading$| async)" class="d-flex justify-content-center">
          <app-loading-animation></app-loading-animation>
        </div>

        <div id="box">
          <app-individual-chat-card [userId$]="currentUserId$" *ngFor="let chat of (messages$ | async);" [messageDetail]="chat"></app-individual-chat-card>
          <div #endPrivateChat></div>
        </div>

        <div *ngIf="!(loading$ | async) && !(messages$ | async)?.length" class="d-flex justify-content-center">
          <p>No messages with {{ (currentUser$ | async)?.full_name }}</p>
        </div>

        </div>
      <div class="individual-messaging-text-editor">
        <app-text-editor class="text-editor" (messageContent)="sendMessageToIndividual($event)"></app-text-editor>
      </div>
    </div>

    <div
      class="tab-pane fade border-bottom-0"
      style="height: 100%"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab">
      <app-team-meetings></app-team-meetings>
    </div>

  </div>



</div>
