<!-- <div class="main-messaging-container h-100">
        <div class="left-messages-panel">
            <app-team-messaging-left-panel></app-team-messaging-left-panel>
        </div>
        <div class="message-board">
            <app-chat-board></app-chat-board>
        </div>
        <div class="right-users-panel h-100">
            <app-team-messaging-right-panel></app-team-messaging-right-panel>
        </div>
</div> -->

<!--<div class="message-wrap h-100">-->
<!--  <div class="message-board">-->
<!--    <app-chat-board></app-chat-board>-->
<!--  </div>-->
<!--  <div class="right-all-users-panel h-100">-->
<!--    <app-landing-messaging-right-panel></app-landing-messaging-right-panel>-->
<!--  </div>-->
<!--</div>-->

<app-chat-board></app-chat-board>
