.main-private-messages-container {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.left-panel{
  width: 275px;
  padding-top: 15px;
  padding-left: 15px;
}

.message-board {
  height: 100%;
  width: calc(100vw - 980px);
  padding-top: 15px;
  overflow: hidden;
}

.right-all-users-panel {
  width: 350px;
}

@media screen and (max-width: 1700px) {
  .message-board {
    width: calc(100vw - 880px);
    padding-top: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .message-board {
    width: calc(100vw - 780px);
    padding-top: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .left-panel {
    width: 250px;
  }
  .message-board {
    width: calc(100vw - 710px);
    padding-top: 15px;
  }
  .right-all-users-panel {
    width: 270px;
  }
}
