<div class="main-landing-section">
  <div class="landing-section-content">
    <div class="landing-topnav">
      <div class="topnav-left-content">
        <img src="assets/img/oona_logo.svg" alt="Oona Logo">
      </div>
      <div class="topnav-right-content">
        <div class="sign-in-dropdown">
          <button class="btn sign-in-btn" routerLink="/login">Sign In</button>
        </div>
        <div class="register-dropdown">
          <button class="btn register-btn" routerLink="/signup">Register</button>
          <div class="dropdown-menu dropdown-menu-end">

          </div>
        </div>
      </div>
    </div>
    <div class="landing-main-content">
      <div class="main-content-text">
        <div class="content-text-title">
          <p>
            Collaborate with your team on the go
          </p>
        </div>
        <div class="content-text-item">
          <p>
            Oona offers a swathe of tools including:
          </p>
          <p>- Video Calling</p>
          <p>- Meeting Management</p>
          <p>- Team Chat</p>
        </div>
        <div class="meeting-button">
          <button class="btn start-join-btn">Join a Meeting</button>
          <div class="toggle-section" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/down-arrow.svg" alt="">
          </div>
          <div class="dropdown-menu dropdown-menu-end">
            <div class="meeting-options">
              <div class="meeting-options-item">
                <div class="meeting-options-icon">
                  <img src="assets/img/link-icon.svg" alt="">
                </div>
                <p>Get a meeting link to share</p>
              </div>
              <div class="meeting-options-item">
                <div class="meeting-options-icon">
                  <img src="assets/img/video-icon.svg" alt="">
                </div>
                <p>Start an instant meeting</p>
              </div>
              <div class="meeting-options-item">
                <div class="meeting-options-icon">
                  <img src="assets/img/schedule-icon.svg" alt="">
                </div>
                <p>Schedule in Calendar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content-img">
        <img src="assets/img/oona_graphics.svg" alt="">
      </div>
    </div>
  </div>
</div>
