<div class="all-users-container">

  <p class="all-users-title">All Users</p>

  <div class="group-members py-2">
    <div
      *ngIf="!allUsers.length"
      class="d-flex justify-content-center"
    >
      <div>
        <app-loading-animation></app-loading-animation>
      </div>
    </div>
    <div class="mb-2" *ngFor="let member of allUsers" >
      <span (click)="goToMemberChat(member)" class="member">
        <app-active-tag *ngIf="member.presence.aggregated.status === 'active'"></app-active-tag>
        <app-inactive-tag *ngIf="member.presence.aggregated.status === 'idle'"></app-inactive-tag>
        <app-idle-tag *ngIf="member.presence.aggregated.status === 'offline'" ></app-idle-tag>
        <img src="assets/img/placeholder.jpg" height="32px" width="32px" class="rounded-circle me-2" alt="...">
        <span class="member-name">{{ member?.full_name }}</span>
      </span>
    </div>
  </div>

</div>

