<div>
  <div class="d-flex justify-content-between mb-2" style="cursor: pointer" mat-dialog-close>
    <h5>Unsubscribe from {{teamDetail.name}} ?</h5>
    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.3706 8.48531L16.9706 15.0853L15.0853 16.9706L8.48527 10.3706L1.88528 16.9706L-4.64358e-05 15.0853L6.59994 8.48531L-4.58588e-05 1.88533L1.88528 -6.59399e-07L8.48527 6.59998L15.0853 -8.24103e-08L16.9706 1.88533L10.3706 8.48531Z" fill="#023BE8"/>
    </svg>
  </div>
  <p>
    Once you leave this stream, you will not be able to rejoin.
  </p>
  <div class="d-flex bottom-0">
    <button class="btn btn-sm btn-dark me-2" (click)="cancelLeaveTeam()">Cancel</button>
    <button
      class="btn btn-sm btn-primary"
      (click)="leaveTeam()">
      Leave
    </button>
  </div>
</div>
