
<div class="custom-modal content-wrap">
  <div class="modal-header border-0">
    <h5>Edit #stream name</h5>

  </div>

  <div>
    <form>
      <div class="form-group">
        <label for="sName">Stream name</label>
        <input id="sName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Stream name</label>
        <textarea id="description" cols="20" rows="4" type="text" class="form-control"></textarea>
      </div>
      <button class="btn btn-sm btn-primary mt-3">Save changes</button>
    </form>
  </div>


</div>
