<div (click)="toggleComments()" class="message-container">
  <div class="message-wrap" id="initial-message">
    <div class="message-card">
      <div class="message-sender-img">
        <img src="assets/img/placeholder.jpg" class="rounded-circle me-2" alt="...">
      </div>
     <div class="message-body">
       <div class="message-card-title">
         <p class="name">{{ showUserInfo(messageDetail.sender_full_name, ( zulipProfile | async ).zulip.full_name) }}</p>
         <p class="chat-time">{{ messageTime }}</p>
       </div>
       <div class="message-card-content">
         <showdown class="chat-msg" [value]="messageDetail?.content"></showdown>
       </div>
       <div *ngIf="showComment" class="message-card-footer">
         <div class="message-card-icon-footer">
           <span class="icon">😄</span>
           <span class="numbers">123</span>
         </div>
         <div class="message-card-icon-footer">
           <span class="icon">😍</span>
           <span class="numbers">3</span>
         </div>
         <div class="message-card-icon-footer">
           <span class="icon">👏</span>
           <span class="numbers">5</span>
         </div>
       </div>
     </div>
    </div>
  </div>
  <app-individual-chat-card-response *ngIf="showComment" ></app-individual-chat-card-response>
</div>





