<!-- <div class="main-mentions-container h-100">
  <div class="left-panel">
    <app-team-messaging-left-panel></app-team-messaging-left-panel>
  </div>
  <div class="message-board">
    <app-streams-board streamsData=[streams]></app-streams-board>
  </div>
  <div class="all-users-right-panel h-100">
    <app-landing-messaging-right-panel></app-landing-messaging-right-panel>
  </div>
</div> -->

<div class="message-wrap h-100">
  <div class="message-board">
    <app-streams-board streamsData="[streams]"></app-streams-board>
  </div>
  <div class="right-all-users-panel h-100">
    <app-landing-messaging-right-panel></app-landing-messaging-right-panel>
  </div>
</div>
